:root {
  --main-color: green;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255,255,255,0.3);
  font-size: 10px;

}



* {
    margin: 0;
    padding: 0;
    outline: none; 
    border: none;
    text-decoration: none; 
    text-transform: capitalize; 
    transition: 0.2s linear; 
    font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  background: linear-gradient(180deg, #000000 0%, #727272 100%);
  min-height: 100vh;
  background-attachment: fixed;
}

section{
  padding: 3rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom: rgba(255,255,255,0.3);

  
}


header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
  margin: 0 1rem;
  font-size: 1.8rem;
  color: #fff;



}

.navbar a:hover {
  color: lightslategray;
  border-bottom: var(--border);
  padding-bottom: 0.5rem;
  font-size: 2rem;
  

}


.icons {
 




}


.btn{
    background-color: black;
  color: #fff;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  cursor: pointer;
  margin-top: 1rem;





}

.title {
  font-size: 4rem;
  color: rgba(77, 209, 117, 0.699);
  text-align: center;
  text-transform: uppercase;
  text-align: center;
   padding-bottom: 0.5rem;

}

.menu .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 1.5rem;


}

.menu .box-container .box{
  text-align: center;
  border: purple;
  padding: 5rem;

}


.menu .box-container .box:hover{
  background-color: gray;

}

.menu .box-container .box:hover>*{
  color: rgba(77, 209, 117, 0.699);
}

.menu .box-container img{
  height: 20rem;

}

.menu .box-container .box h3{
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;

}

.menu .box-container .box .preço{
  color: #fff;
  font-size: 2.5rem;
  padding: 3.5rem 0;
  text-align: center;

}








