:root {
  --main-color: green;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255,255,255,0.3);
  font-size: 10px;

}



* {
    margin: 0;
    padding: 0;
    outline: none; 
    border: none;
    text-decoration: none; 
    text-transform: capitalize; 
    transition: 0.2s linear; 
    font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  background-color: #136224;

}

section{
  padding: 3rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom: rgba(255,255,255,0.3);

  
}


header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
  margin: 0 1rem;
  font-size: 1.8rem;
  color: #fff;



}

.navbar a:hover {
  color: rgb(225, 255, 1);
  border-bottom: var(--border);
  padding-bottom: 0.5rem;
  font-size: 2rem;
  

}


.icons {



}

.title {
  font-size: 4rem;
  color: yellow;
  text-align: center;
  text-transform: uppercase;

}




